[Desktop Entry]
Version=1.0
Name=Clock
GenericName=Clock
X-GNOME-FullName=Clock
Comment=A simple clock written in C++ using the Gtkmm library. See ~/repos/CppFun/Clock. Put this file in .local/share/applications/
Keywords=time;clock;
Exec=/home/savaged/bin/clock.app
Icon=org.gnome.clocks
Terminal=false
Type=Application
Categories=GTK;Utility;Application;Clock;

